<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.eclipse.milo" level="WARN"/>
    <logger name="org.eclipse.milo.opcua.sdk.client" level="ERROR"/>
    <logger name="org.eclipse.milo.opcua.stack" level="ERROR"/>

    <logger name="com.example.java" level="INFO"/>
</configuration>
